.presentation {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

paper-progress {
    display: block;
    width: 100%;
    padding: 0;
}

#controls paper-input {
    width: 30px;
}

#controls core-icon:hover {
    fill: #fb8c00;
}

article.slide {
    display: block;
    padding: 25px;
}

.markdown {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -0.02em;
    color: black; }

::selection {
    color: white;
    background: rgba(0, 0, 0, 0.99);
    text-shadow: none; }

.markdown .slides > section,
.markdown .slides > section > section {
    line-height: 1.2em;
    font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin: 0.5em 0 0.5em 0;
    color: black;
    line-height: 1em;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: none;
    text-shadow: none;
    word-wrap: break-word; }

.markdown h1 {
    font-size: 3.77em; }

.markdown h2 {
    font-size: 2.11em; }

.markdown h3 {
    font-size: 1.55em; }

.markdown h4 {
    font-size: 1em; }

.markdown h1 {
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.2); }

.markdown p {
    margin: 0.2em 4em;
    line-height: 1.2em; }

.markdown img,
.markdown video,
.markdown iframe {
    max-width: 95%;
    max-height: 95%; }

.markdown strong,
.markdown b {
    font-weight: bold; }

.markdown em {
    font-style: italic; }

.markdown ol,
.markdown dl,
.markdown ul {
    text-align: left;
    display: inline-block;
    margin: 0.2em 3.8em; }

.markdown ol {
    list-style-type: decimal;
    margin: 0.2em 4.2em;}

.markdown ul {
    list-style-type: disc; }

.markdown ul ul {
    list-style-type: square; }

.markdown ul ul ul {
    list-style-type: circle; }

.markdown ul ul,
.markdown ul ol,
.markdown ol ol,
.markdown ol ul {
    display: block;
    margin-left: 1em; }

.markdown dt {
    font-weight: bold; }

.markdown dd {
    margin-left: 1em; }

.markdown q,
.markdown blockquote {
    quotes: none; }

.markdown blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 1em auto;
    padding: 1em;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2); }

.markdown blockquote p:first-child,
.markdown blockquote p:last-child {
    display: inline-block; }

.markdown q {
    font-style: italic; }

.markdown pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 1em auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3); }

.markdown code {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    padding: 0.1em 0.2em;
    font-family: monospace; }

.markdown pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
    background: #3F3F3F;
    color: #DCDCDC; }

.markdown a {
    color: #4183c4;
    text-decoration: none; }

.markdown a:hover {
    color: #53acff; }